.DS_Store
.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# package-lock.json
# node_modules/
# /dist/
*_dist/
# vendor/
# /src/

#忽略根目录里面的其他的非脚手架问题
/*
/*/
!/build/
!/.gitignore
!/README.md
!/package.json
!/demo/

#mock里面项目可配置，避免被脚手架覆盖
/build/mock/
!/build/mock/page1.js   
!/build/mock/page2.js   
!/build/mock/mock.js 

